@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lobster&display=swap');

body {
    background-color: #F3EADA;
}

/* Header and the Game Area */
.container {
    width: 70%;
    margin: auto;
    text-align: center;
}

/* landing page layout */

.intro-area {
    width: 70%;
    margin: auto;
    padding: 1%;
    display: flex;
    justify-content: center;
}

.intro {
    text-align: center;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
}


h1 {
    margin: 30px;
    text-align: center;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #003D34;
    white-space: nowrap;
}

h2,
h3 {
    margin: 30px;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 2.5rem;
    color: #003D34;
    white-space: nowrap;
}

p {
    font-size: 1.5rem;
    color: #003D34;
    font-family: 'Indie Flower', cursive;
}

/* Start the game button */

.button {
    background-color: #003D34;
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 28px;
    color: white;
    margin-top: 10px;
    display: inline-block;
}

.button:focus {
    outline: none;
}

.button:active,
.button:hover {
    background-color: #13508d;
}

/* Modal */

.bg-modal {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-contents {
    height: 300px;
    width: 500px;
    background-color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    border-radius: 4px;
}

input {
    margin: 15px auto;
    display: block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 42px;
    color: #333;
    transform: rotate(45deg);
    cursor: pointer;
}

.close:hover {
    color: #666;
}

.hide {
    display: none;
}


.dice {
    text-align: center;
    display: inline-block;

}


img {
    width: 80%;
}

/* Button Roll */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 220px;
    height: 60px;
    position: relative;
    font-family: "Indie Flower", cursive;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 150%;
    color: white;
    margin-top: 25px;
    background-color: #003D34;
    border: 1px transparent;
    border-radius: 20px;

}

.btn:focus {
    outline: none;
}

.btn:active,
.btn:hover {
    background-color: #13508d;
}

/* Current Result */
.game-result {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: -50px;
}

.game-result p {
    font-size: 40px;
}

/* New Game button */

.new-game {
    text-align: right;
}
.new-btn {
    width: 220px;
    height: 60px;
    position: relative;
    font-family: "Indie Flower", cursive;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 150%;
    color: white;
    margin-top: 25px;
    background-color: #479cd4;
    border: 1px transparent;
    border-radius: 50px;

}

.btn:focus {
    outline: none;
}

.btn:active,
.btn:hover {
    background-color: #13508d;
}

/* footer */
footer {
    margin-top: 2%;
    color: #003D34;
    text-align: center;
    font-family: 'Indie Flower', cursive;

}

/* Media query */

/* For big screens */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 4rem;
        text-shadow: 2px 0 #232931;
    }

}


